assignment1Service/assignmentConsole/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50039/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50039/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50039/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_PrimeNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumbers" />
  </wsdl:message>
  <wsdl:message name="IService1_PrimeNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IService1_SumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReverseAString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseAString" />
  </wsdl:message>
  <wsdl:message name="IService1_ReverseAString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseAStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_HtmlTags_InputMessage">
    <wsdl:part name="parameters" element="tns:HtmlTags" />
  </wsdl:message>
  <wsdl:message name="IService1_HtmlTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:HtmlTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SortNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbers" />
  </wsdl:message>
  <wsdl:message name="IService1_SortNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SortDescNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SortDescNumbers" />
  </wsdl:message>
  <wsdl:message name="IService1_SortDescNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortDescNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="PrimeNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrimeNumbers" message="tns:IService1_PrimeNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrimeNumbersResponse" message="tns:IService1_PrimeNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SumOfDigits" message="tns:IService1_SumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumOfDigitsResponse" message="tns:IService1_SumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseAString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReverseAString" message="tns:IService1_ReverseAString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReverseAStringResponse" message="tns:IService1_ReverseAString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HtmlTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HtmlTags" message="tns:IService1_HtmlTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HtmlTagsResponse" message="tns:IService1_HtmlTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SortNumbers" message="tns:IService1_SortNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SortNumbersResponse" message="tns:IService1_SortNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortDescNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SortDescNumbers" message="tns:IService1_SortDescNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SortDescNumbersResponse" message="tns:IService1_SortDescNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrimeNumbers">
      <soap:operation soapAction="http://tempuri.org/IService1/PrimeNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IService1/SumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseAString">
      <soap:operation soapAction="http://tempuri.org/IService1/ReverseAString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HtmlTags">
      <soap:operation soapAction="http://tempuri.org/IService1/HtmlTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <soap:operation soapAction="http://tempuri.org/IService1/SortNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortDescNumbers">
      <soap:operation soapAction="http://tempuri.org/IService1/SortDescNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50039/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>